<%= render "navbar" %>
<div class="container">
  <h1 style="margin-top:15px;">詩의 바다</h1>
      <div class="row">
          <% @poems.each do |poem| %>
                  <div class="card col-3" style="margin-left:15px; margin-top:15px;">
                      <a href="<%= poem_path(poem) %>" style="color: #000000; text-decoration:none;">
                        <div class="card-body">
                          <div style="text-align:center;">
                              <h4 class="card-title"><%= poem.title %></h5>
                          </div>
                          <hr>
                          <p class="card-text"><%= poem.body.lines.first %></p>
                      </a>
                      <br>
                        <div style="text-align:center; text-decoration:none;">
                            <% if user_signed_in? %>
                                <% if poem.user_id == current_user.id %>
                                  <a href="<%= edit_poem_path(poem) %>" >
                                    <span class="badge badge-warning">수정</span>
                                  </a>
                                  <a data-confirm="정말로 삭제하시겠습니까?" rel="nofollow" data-method="delete" href="<%= poem_path(poem) %>">
                                    <span class="badge badge-danger">삭제</span>
                                  </a>
                                <% end %>
                            <% end %>
                        </div>
                        </div>
                  </div>
          <% end %>
      </div>
      <hr>
      <div>
        <%== pagy_bootstrap_nav(@pagy) %>
        <script>
            Pagy.init()
        </script>
      </div>
      <div style="margin-top:30px; text-align:right;">
        <a href="<%= new_poem_path %>">
          <button type="button" class="btn btn-dark">새로운 시 올리기</button>
        </a>
      </div>
</div>

