<p id="notice"><%= notice %></p>

<% if @poem.picture.attached? %>
  <p>
    <%= image_tag @poem.picture %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @poem.body %>
</p>

<p id="like_count">
  <strong>Like:</strong>
  <span><%= @poem.liked_users.count %></span>
</p>

<% if user_signed_in? %>
  <p id="like_heart">
      <%= link_to "#{poem_liked_by_user?(@poem, current_user) ? "â¤ï¸":"ðŸ¤" }","/poems/#{@poem.id}/likes", method: :post, remote: true %>
  </p>
<% else %>
  <p>
    <%= link_to "ðŸ¤","/poems/#{@poem.id}/likes", method: :post %>
  </p>
<% end %>


<p>
  <strong>Year:</strong>
  <%= @poem.year %>
</p>

<p>
  <strong>Description:</strong>
  <br>
  <%= @poem.description %>
</p>

<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
