<%= form_with(model: poet, local: true) do |form| %>
  <% if poet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poet.errors.count, "error") %> prohibited this poet from being saved:</h2>

      <ul>
      <% poet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :portrait, class: "col-form-label" %>
    <%= form.file_field :portrait, class: "form-control-file" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :name, class: "col-form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :birthplace, class: "col-form-label" %>
    <%= form.text_field :birthplace, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :birthyear, class: "col-form-label" %>
    <%= form.number_field :birthyear, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description, class: "col-form-label" %>
    <%= form.text_area :description, class: "form-control", rows: "15" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
